* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#wrapper {
    width: 80%;
}

h1 {
    margin: 1em 0;
}

#btn {
    width: 30%;
    margin: 1em 0;
    cursor: pointer;
}

#todoCards {
    display: flex;
    flex-wrap: wrap;

}

.todoCard {
    position: relative;
    margin-right: 1em;
    margin-bottom: 1em;
}

.delBtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;    
}

.cardsNumber {
    width: 15em;
    border: solid 2px black;
    height: 2em;
    margin-bottom: 1em;
}